#logo_pic {
	width: 110px; 
	height: 60px; 
	position: absolute;
	top: 20px;
	left: 20px;
}
.menu_nav img{
	width: 110px; 
	height: 50px; 
	float: left;
	padding-right: 25px;
	margin-left: -65px;
	margin-top: -7px;
}

.c2 h2 {
	line-height: normal;
}

.article h2 {
	clear: both;
}

div.dropdown {
	position: relative;
    display: inline-block;
}

div.dropdown_content {
	display: none;
    position: absolute;
    background-color: #A3A0A0;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown_content a{
	color: white;
    display: inline;
}

div.dropdown a:hover{
	text-decoration:none;
	color:#fff;
	background:#3447ff;
}

div.dropdown:hover div.dropdown_content {
	background-color: #f9fbfa;
	display: block;
	border-radius: 15px;
	margin-left: 5px;
}

.manufact_view {
	/*position: relative;*/
	/*float: left;*/
	width: 100%;
	/*overflow: hidden;*/
	text-align: center;
}

.manufact_view .img_manf {
	float: left;
	margin: 20px;
	margin-left: 10px;
	margin-right: 80px;
}

.img_manf a{
	text-decoration: none;
	color: #3f3f3f;
}

.manufact_view h2 {
	/*border-bottom: 1px solid grey;*/
}

.manufact_view h2:first-child {
	text-align: left;
	border-bottom: none;
}

#main_text {
	text-align: center;
}

.article h2 a {
	text-decoration: none !important;
}

.post_content p {
	font-size: 1.2em;
}

.article h2 {
	border-top: 1px solid gray;
	margin-top: 15px;
	padding-top: 20px;
}

.article h2:first-child {
	border-top: none;
}

.article img {
	margin-bottom: 7% !important;
	/*padding-top: 20px;*/
}

pre {
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
    font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}

.gadget h2 {
	margin-bottom: 15px!important;
}

.form_auth{
	height: 350px;
	float: left;
	margin-top: -50px;
	margin-left: 35%;
}

.form_auth_hide{
	display: none;
}

.form_auth form li, .form_reg form li {
	margin-top: 15px;
	list-style:none;
}

#form_auth input, #form_reg input {
	margin-left: 75px;
}

.form_auth form label, .form_reg form label{
	position: absolute;
}

.star {
	/*margin-left: 28px;*/
	margin-top: 3px;
}

#auth_form_submit {
	margin-top: 15px;
}

.form_reg {
	display: none;
}

.form_reg_show {
	height: 350px;
	float: left;
	margin-left: 35%;
	margin-top: -50px;
	margin-bottom: 45px;
	display: block;
}

#reg_note {
	text-decoration: underline;
	cursor: pointer;
}

.error {
	color: #CC0063;
	margin-left: 5px;
}

.error img {
	position: relative !important;
	float: left !important;
}


#block_captcha{
    float: left;    
}

#block_captcha input#reg_captcha{
    height: 30px;
    width: 100px;
    margin-left: 130px;
    padding-left: 5px;
    color: black;
}
#block_captcha img{
    float: left;
}
#block_captcha p{
    margin-top: 50px;
    text-decoration: underline;
    cursor: pointer;
    clear: both;
    width: 55px;
}
#block_captcha p:hover{
    text-decoration: none;
}

input #reg_form_submit {
	float: left;
	margin-top: 15px;
}

.reg_message_good{
    font: 18px sans-serif;
    color: black;
    background-color: #EDEDFF;
    border: 1px solid #E6E6FE;
}
.reg_message_error{
    font: bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
}

.reg_message_error img{
    float: left;
}

#reg_message, #auth_message{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: none;
}

#count_search {
	font-size: 14px;
}

#form-error{
    font:bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
#form-success{
    font:bold 14px sans-serif;
    color: black;
    background-color: #E6EED9;
    border: 1px solid #D1E7BC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
}

.block-manf {
	/*height: auto;*/
	border: 1px solid black;
	display: block;
}