#block-pass-login {
	width: 285px;
	height: auto;
	border: 1px solid black;
	background-color: #F2F2F2;
	margin: 100px auto;
}

#pass-login li {
	margin-top: 10px;
	list-style: none;
}

#pass-login label {
	position: absolute;
	margin-top: 4px;
	margin-left: 10px;
}

#pass-login input {
	width: 200px;
	height: 24px;
	margin-left: 75px;
	border: 1px solid #D6D6D6;
}

#submit_enter {
	border: 1px solid #D6D6D6;
	background-color: #EAEAEA;
	margin-right: 10px;
	padding: 4px 6px;
	cursor: pointer;
}