body {
	background-color: #F2F4F9;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#block-body {
	width: 950px;
	margin: 5px auto;
	border: 1px solid #E0E0E0;
}

#block-header {
	width: 950px;
	height: 80px;
	border-bottom: 1px solid #E0E0E0;
}

#block-header1 {
	float: left;
	width: 350px;
}

#block-header h3 {
	font: 20px sans-serif;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#block-header p {
	margin-left: 15px;
	margin-top: 10px;
}

#block-header a {
	font: 15px sans-serif;
	color: black;
}

#block-header2 {
	width: 300px;
	float: right;
}

#block-header2 p {
	margin-top: 10px;
	margin-right: 10px;
	font: 13px sans-serif;
}

#block-header2 a {
	font: 14px sans-serif;
	text-decoration: none;
	color: black;
}

#block-header2 a:hover {
	text-decoration: underline;
}

#block-header2 span {
	border-bottom: 1px dashed black;
}

#left-nav {
	width: 200px;
	height: auto;
	min-height: 200px;
	position: absolute;
}

#left-nav ul {
	margin-top: 10px;
	list-style: none;
}

#left-nav li {
	margin-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EDEDED;
}

#left-nav a {
	font: 15px sans-serif;
	text-decoration: none;
	color: black;
}

#left-nav a:hover {
	text-decoration: underline;
}

#block-content {
	width: 747px;
	height: auto;
	margin-left: 201px;
	border-left: 1px solid #E0E0E0;
  display: inline-block;
}

#block-parameters {
	height: 40px;
	border-bottom: 1px solid #E0E0E0;
	background-color: #F2F2F2;
}

#title-page {
	font: 18px sans-serif;
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
}

#block-info {
	height: 40px;
	border-bottom: 1px solid #E0E0E0;
}

#count-style {
	margin-top: 12px;
	font: 14px sans-serif;
	margin-left: 10px;
	position: absolute;
}

#block-tovar{
    margin-top: 10px;
    float: left;
    position: relative;
    /*border: 1px solid black;*/
    display: inline-block;
}


#block-tovar li{
	list-style: none;
  height: 260px;
  width: 230px;
  float: left;
  margin-left: 10px; 
}

#block-tovar p{
    margin-top: 10px;
    font: 15px sans-serif;
    text-align: center;
}
.delete{
    font:bold 13px sans-serif;
    color: #D6533C;
    cursor: pointer;
    text-decoration: underline;
}
.green{
    font:bold 13px sans-serif;
    color: green;
}

.pstrnav {
    height: 40px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
}


.pstrnav li{
   float: left;
   margin-top: 10px;
}
.pstrnav a{
    font: 17px sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
}
.pstrnav a:hover{
    color: #E26029;
}
a.pstr-prev, a.pstr-next{
    color: #006289;
    font: 14px arial;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}
a.pstr-prev:hover, a.pstr-next:hover{
    text-decoration: none;
}

.pstrnav a.pstr-active{
    color: #D95D27;
    font-weight: bold;
}
.pstrnav p.nav-point{
    text-align: center;
    font:14px sans-serif; 
    margin-top: 5px;  
} 
#footerfix{
    clear: both;
}

#options-list > li{
    float: left;
    margin-left: 10px;
    font: 14px sans-serif;
    margin-top: 13px;   
}
#options-list > li > a{
    color: #748996;
}
#list-links{
    background-color: #F2F2F2; 
    border: 1px solid #A3C0D2;
    border-radius: 5px;
    position: absolute;
    margin-left: 135px;
    margin-top: 15px;
    display: none;
    width: 250px;
   padding-top: 5px;
   padding-bottom: 7px;
   height: auto;
   z-index: 1;
}
#list-links > ul{
   width: 150px;
   float: left;
}
#list-links > ul > li{
   margin-top: 3px;
   margin-left: 10px;
}
#list-links > ul > li > a{
   font: 12px sans-serif;
   text-decoration: none; 
   color: black;
}
#list-links > ul > li > a:hover{
   text-decoration: underline; 
}

#add-style{
   margin-top: 12px;
   margin-left: 618px;
   position: absolute;
}
#add-style > a{
  font: 13px arial;
  color: black;
  text-decoration: none;
  border: 1px solid #FFDACA;
  background-color: #FFE7E7;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#add-style > a:hover{ 
  border: 1px solid #FFBFA4;
}

#edit-tovar label{
  position: absolute;
  font: 15px sans-serif; 
  margin-top: 6px; 
  margin-left: 20px; 
}
#edit-tovar{
  margin-top: 20px;   
}
#edit-tovar li{
  margin-top: 10px;   
}
#edit-tovar input{
  margin-left: 170px;
  width: 400px;
  height: 25px;   
  border: 1px solid #D4D4D4;
  padding-left: 5px;
  font: 15px sans-serif;
}
#edit-tovar textarea{
  margin-left: 170px;
  width: 401px;
  height: 80px;
  border: 1px solid #D4D4D4; 
  font: 15px sans-serif;  
}
#edit-tovar select#type{
  margin-left: 170px;
  width: 250px;
  height: 25px;
  border: 1px solid #D4D4D4;   
}
#edit-tovar select{
  margin-left: 170px;
  width: 250px;
  border: 1px solid #D4D4D4;   
}

#baseimg-upload{
  margin-top: 40px;     
}
#baseimg-upload input{
  margin-left: 15px;    
}
.h3click{
    font:bold 15px sans-serif;
    cursor: pointer;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #EAEAEA;
    border: 1px solid #E3E3E3;
}
.h3click:hover{
    background-color: #DDDDDD;
}
.stylelabel{
  position: absolute;
  font: 15px sans-serif; 
  margin-top: 6px; 
  margin-left: 20px;    
}
#objects{
    margin-top: 50px;
}
.addimage{
    margin-left: 50px;
    margin-top: 5px;
}
.div-editor1, .div-editor2{
    display: none;
}
#submit_form{
    border: 1px solid #A8BBD4;
    background-color: #BBD0EC;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 15px;
    font:bold 12px sans-serif;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit_form:hover{
    border: 1px solid #779FD3;
}
#chkbox > li{
    margin-top: 5px;
    margin-left: 10px;
    font: 15px sans-serif;
}
.h3title{
    font: bold 17px sans-serif;
    margin-left: 10px;
}
#add-input{
    margin-left: 15px;
    font:bold 13px sans-serif;
    cursor: pointer;
    text-decoration: underline;
    color: #34659D;
    display: inline-block;
}
.addimage a{
 font:bold 13px sans-serif;
 color: #D90094; 
 text-decoration: none;  
 cursor: pointer;
}
.addimage a:hover{
 text-decoration: underline;  
}	

#form-error{
    font:bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
#form-success{
    font:bold 14px sans-serif;
    color: black;
    background-color: #E6EED9;
    border: 1px solid #D1E7BC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
}
#baseimg{
  margin-top: 40px; 
  height: 120px;
}

#baseimg img{
  float: left;
  margin-left: 15px;
}
#baseimg a{
    width: 16px;
    height: 16px;
    background: url(../images/action_delete.png);
    float: left;
    cursor: pointer;
    margin-left: 5px;
}

#cat_products{
    margin-top: 20px;
}
#cat_products li{
    margin-top: 15px;
}
#cat_products label{
    position: absolute;
    margin-left: 15px; 
    font: 14px arial;
    margin-top: 3px;
}
#cat_products select{
    margin-left: 150px;
    width: 400px;
    height: 100px; 
}
#cat_products input{
    margin-left: 150px;
    width: 300px;
    height: 25px; 
}
#cat_products div{
   position: absolute;
   margin-left: 15px;
   display: inline-block;
}
#cat_products a{
  font: 14px sans-serif;
  display: block;
  margin-top: 4px;
  cursor: pointer;
  text-decoration: underline;
}
#cat_products a:hover{
  text-decoration: none;
}

#cat-links {
  width: auto;
}

#cat-links a {
  float: left;
  margin-left: 10px;
}

.all-count {
	margin-left: 15px;
	font: 16px sans-serif;
}

/*admin_style*/

#info-admin label{
  position: absolute;
  margin-left: 15px; 
  font: 14px arial;
  margin-top: 6px;
}
#info-admin li{
  margin-top: 10px;   
}
#info-admin input{
 margin-left: 200px;   
 height: 30px;
 width: 350px;
 font: 17px sans-serif;
 border-left: 1px solid #ABABAB;
 border-top: 1px solid #ABABAB;
 border-right: 1px solid #DDDDDD;
 border-bottom: 1px solid #DDDDDD;
 padding-left: 5px;
}
.privilege{
    float: left;
    margin-left: 10px;
}
.privilege li{
    margin-left: 15px;
}
.privilege h3{
    font:bold 15px sans-serif;
}
.privilege label{
    font: 14px sans-serif;
}
.block-privilege{
    height: 120px;
}
#title-privilege{
    margin-left: 15px;
    font-family: sans-serif;
}
#link-privilege{
    margin-left: 15px;
}
#link-privilege a{
    font: 13px sans-serif;
    text-decoration: underline;
    color: #D15019;
    cursor: pointer;
}
#link-privilege a:hover{
    text-decoration: none;
}
#list-admin li{
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
}
#list-admin h3{
    font: bold 15px sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}
#list-admin p{
    font: 13px sans-serif;
    margin-top: 3px;
    margin-left: 25px;
    margin-bottom: 0;
}

#block-admin {
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

#add-style-admin{
   margin-top: 12px;
   margin-left: 558px;
   position: absolute;
}
#add-style-admin > a{
  font: 13px arial;
  color: black;
  text-decoration: none;
  border: 1px solid #FFDACA;
  background-color: #FFE7E7;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#add-style-admin > a:hover{ 
  border: 1px solid #FFBFA4;
}

#users_msg {
  border-top: 1px solid #E0E0E0;
}

#users_msg ul{
  margin-top: 5px;
  margin-left: 5px;
}

#users_msg_title {
  font: sans-serif;
  text-align: center;
}